/* All specific CSS rules for the google map */
.commerce-socolissimo-flexibility {
  border: 1px solid #c2c2c2;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  clear: both;
  margin: 15px 0;
  padding: 15px 10px;

  &:before,
  &.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  &:after {
    clear: both;
  }
  /**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
  *zoom: 1;
}
.commerce-socolissimo-flexibility-filters {
  clear: both;
  margin-bottom: 15px;
  .ajax-progress {
    clear: both;
    display: block;
    .message {
      padding-left: 5px;
    }
  }
}
.commerce-socolissimo-map-home {
  display: inline;

  &:hover {
    cursor: pointer;
  }
  img {
    vertical-align: bottom;
  }
  span {
    margin-left: 10px;
  }
}

.commerce-socolissimo-point-wrapper {
  float: left;
  font-size: 11px;
  width: 30%;
  .title {
    margin-top: 10px;
    h3 {
      font-size: 11px;
      margin: 0;
    }
  }
  .content {
    height: 355px;
    margin: 10px 10px 0 0;
    overflow-y: auto;
  }
  .point_informations {
    clear: both;
    &:hover {
      cursor: pointer;
    }
    &.selected {
      background-color: #F9D0B4;
    }
  }
}

.point-wrapper {
  .selected-point-infos {
    color: #f16825;
    float: left;
    margin-right: 15px;
  }
  .point_informations {
    background-color: #f2f4f0;
    float: left;
    padding: 5px 15px;
  }
  .clear {
    clear: both;
  }

}

.point_informations {
  margin: 2px;
  padding: 8px 5px;
  position: relative;

  &:before,
  &.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  &:after {
    clear: both;
  }
  /**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
  *zoom: 1;

  .select-point {
    position: absolute;
    top: 40%;
  }
  // Used in both .commerce-socolissimo-point-wrapper and .commerce-socolissimo-map.
  .point_informations_details {
    margin-bottom: 10px;
    margin-left: 25px;

    &:hover {
      cursor: pointer;
    }
  }
  .name {
    color: #f16825;
    font-weight: bold;
    margin-bottom: 4px;
  }
  .address {
  }
  .postalcode_city {
    margin-bottom: 4px;

    .postalcode {
    }
    .city {
    }
  }

  .distance {
    text-align: right;
  }
  .ease-of-access {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline;
      margin: 0;
      margin-right: 5px;
    }
  }
  // end common use.
}

/**
 * Display Colissimo logo on top of shipping services.
 */
.commerce-socolissimo-services {
  clear: left;
  margin-top: 10px;
}
.commerce-socolissimo-logo {
  margin-right: 10px;
  vertical-align: middle;
}

#commerce-checkout-form-shipping {
  /**
  * Display Colissimo icons in front of shipping services.
  */
  label[for="edit-commerce-shipping-shipping-service-socolissimo-home-delivery"] {
    background: url("../images/mini_icon.png") 5px center no-repeat;
    padding-left: 26px;
  }
  label[for="edit-commerce-shipping-shipping-service-socolissimo-appointment"] {
    background: url("../images/mini_icon.png") 5px center no-repeat;
    padding-left: 26px;
  }
  label[for="edit-commerce-shipping-shipping-service-socolissimo-cityssimo"] {
    background: url("../images/mini_icon.png") 5px center no-repeat;
    padding-left: 26px;
  }
  label[for="edit-commerce-shipping-shipping-service-socolissimo-post-office"] {
    background: url("../images/mini_icon.png") 5px center no-repeat;
    padding-left: 26px;
  }
  label[for="edit-commerce-shipping-shipping-service-socolissimo-local-store"] {
    background: url("../images/mini_icon.png") 5px center no-repeat;
    padding-left: 26px;
  }
  /**
  * Fix gmap controllers bug.
  */
  img {
    max-width: inherit;
  }
}
