/* All specific CSS rules for the google map */
.commerce-socolissimo-flexibility {
  border: 1px solid #c2c2c2;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  clear: both;
  margin: 15px 0;
  padding: 15px 10px;
  /**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
  *zoom: 1; }
  .commerce-socolissimo-flexibility:before, .commerce-socolissimo-flexibility.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .commerce-socolissimo-flexibility:after {
    clear: both; }

.commerce-socolissimo-flexibility-filters {
  clear: both;
  margin-bottom: 15px; }
  .commerce-socolissimo-flexibility-filters .ajax-progress {
    clear: both;
    display: block; }
    .commerce-socolissimo-flexibility-filters .ajax-progress .message {
      padding-left: 5px; }

.commerce-socolissimo-map-home {
  display: inline; }
  .commerce-socolissimo-map-home:hover {
    cursor: pointer; }
  .commerce-socolissimo-map-home img {
    vertical-align: bottom; }
  .commerce-socolissimo-map-home span {
    margin-left: 10px; }

.commerce-socolissimo-point-wrapper {
  float: left;
  font-size: 11px;
  width: 30%; }
  .commerce-socolissimo-point-wrapper .title {
    margin-top: 10px; }
    .commerce-socolissimo-point-wrapper .title h3 {
      font-size: 11px;
      margin: 0; }
  .commerce-socolissimo-point-wrapper .content {
    height: 355px;
    margin: 10px 10px 0 0;
    overflow-y: auto; }
  .commerce-socolissimo-point-wrapper .point_informations {
    clear: both; }
    .commerce-socolissimo-point-wrapper .point_informations:hover {
      cursor: pointer; }
    .commerce-socolissimo-point-wrapper .point_informations.selected {
      background-color: #F9D0B4; }

.point-wrapper .selected-point-infos {
  color: #f16825;
  float: left;
  margin-right: 15px; }
.point-wrapper .point_informations {
  background-color: #f2f4f0;
  float: left;
  padding: 5px 15px; }
.point-wrapper .clear {
  clear: both; }

.point_informations {
  margin: 2px;
  padding: 8px 5px;
  position: relative;
  /**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
  *zoom: 1; }
  .point_informations:before, .point_informations.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .point_informations:after {
    clear: both; }
  .point_informations .select-point {
    position: absolute;
    top: 40%; }
  .point_informations .point_informations_details {
    margin-bottom: 10px;
    margin-left: 25px; }
    .point_informations .point_informations_details:hover {
      cursor: pointer; }
  .point_informations .name {
    color: #f16825;
    font-weight: bold;
    margin-bottom: 4px; }
  .point_informations .postalcode_city {
    margin-bottom: 4px; }
  .point_informations .distance {
    text-align: right; }
  .point_informations .ease-of-access {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0; }
    .point_informations .ease-of-access li {
      display: inline;
      margin: 0;
      margin-right: 5px; }

/**
 * Display Colissimo logo on top of shipping services.
 */
.commerce-socolissimo-services {
  clear: left;
  margin-top: 10px; }

.commerce-socolissimo-logo {
  margin-right: 10px;
  vertical-align: middle; }

#commerce-checkout-form-shipping {
  /**
  * Display Colissimo icons in front of shipping services.
  */
  /**
  * Fix gmap controllers bug.
  */ }
  #commerce-checkout-form-shipping label[for="edit-commerce-shipping-shipping-service-socolissimo-home-delivery"] {
    background: url("../images/mini_icon.png") 5px center no-repeat;
    padding-left: 26px; }
  #commerce-checkout-form-shipping label[for="edit-commerce-shipping-shipping-service-socolissimo-appointment"] {
    background: url("../images/mini_icon.png") 5px center no-repeat;
    padding-left: 26px; }
  #commerce-checkout-form-shipping label[for="edit-commerce-shipping-shipping-service-socolissimo-cityssimo"] {
    background: url("../images/mini_icon.png") 5px center no-repeat;
    padding-left: 26px; }
  #commerce-checkout-form-shipping label[for="edit-commerce-shipping-shipping-service-socolissimo-post-office"] {
    background: url("../images/mini_icon.png") 5px center no-repeat;
    padding-left: 26px; }
  #commerce-checkout-form-shipping label[for="edit-commerce-shipping-shipping-service-socolissimo-local-store"] {
    background: url("../images/mini_icon.png") 5px center no-repeat;
    padding-left: 26px; }
  #commerce-checkout-form-shipping img {
    max-width: inherit; }
